.category {
    padding-bottom: 40px;
    background-image: linear-gradient(to right, #010320 30%, #050d79 70%);    
}
.category-container {
    text-align: center;

&__title {
    color: var(--herotitle);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    
    margin-bottom: 60px;
}
&__list {
    display: flex;
    justify-content: center;
    
}
&__item {
    width: 300px;
    height: auto;
    padding: 0;
    padding-bottom: 20px;

    background-color: var(--herotitle);
    border-radius: 14px;     
}
&__item:not(:last-child) {
    margin-right: 30px;
}
}
.present {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;

    &__picture {
        display: flex;
    
        padding: 0;
        margin: 0;       
       /* background-size: 290px 280px;*/
    }
    &__name {
        width: 300px;
        height: 80px;
        padding: 0;
        margin: 0;
        background-color: rgba(89, 24, 74, 0.6);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__title {
        color: var(--herotitle);
        font-size: 28px;
        line-height: 1.17;
        font-weight: 700;
        text-align: center;
    }
    &__star {
        width: 100%;
    }
    &__icon {
        fill: rgb(89, 24, 74);     
    }
    }
    .box-category {
        align-items: center;
        padding: 15px;
      

        &:not(:last-child) {
          border-bottom: 2px solid var(--accent-bc);
        }     
        &__text {
            margin: 0;
            padding: 0;
        }
        &__title {
            margin-bottom: 12px;
            color: rgb(89, 24, 74);
        }
    }
    .goot-text {
        margin-top: 0;        
        margin-bottom: 21px;
    }
  